{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800" rel="stylesheet">
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
	<link rel="stylesheet" href='{% static "upload.css"%}'>
</head>
<body>
	<aside class="side-nav" id="show-side-navigation1">
		<i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
		<div class="heading">
			{% if journalist.dp %}
			<img src="{{MEDIA_URL}}{{journalist.dp}}" alt="" class="center" id="dpID">
			{% else %}
			<img src='{% static "defaultdp.png"%}' alt="A" class="center" id="dpID">
			{% endif %}
			<div class="info">
				<h3><a href="#">{{journalist.fname}} {{journalist.lname}}</a></h3>
			</div>
		</div>

		<ul class="categories">
			<li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="/home">Home</a>

				<li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="/profile">Dashboard</a>

				</li>
				<li><i class="fa fa-newspaper-o" aria-hidden="true"></i><a href="#">Articles</a>
					<ul class="side-nav-dropdown">
						<li><a href="#">All Articles</a></li>
						<li><a href="#">Top Rated Articles</a></li>
						<li><a href="#">Recent Articles</a></li>
					</ul>
				</li>
				<li><i class="fa fa-upload" aria-hidden="true"></i><a href="/uploadnew">Upload New Article</a>

				</li>

				<li><i class="fa fa-envelope-open-o fa-fw"></i><a href="#"> Notifications <span class="num dang">56</span></a></li>
				<li><i class="fa fa-wrench fa-fw"></i><a href="/editprofile"> Settings <span class="num prim">6</span></a>
				</li>

			</ul>
		</aside>


		<section id="contents">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<i class="fa fa-align-right"></i>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
									<li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
									<li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
								</ul>
							</li>

							<li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>
							<li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="upload">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="content">
								<h2>{{error}}</h2>

								
							</div>
						</div>
					</div>
				</div>
			</div>



		</section>

		<script src='http://code.jquery.com/jquery-latest.js'></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
		<script src='{% static "upload.js"%}'></script>
	</body>
	</html>

