.ipynb_checkpoints/
news_dataset.csv
MLServer/GoogleNews-vectors-negative300.bin
MLServer/GoogleNews-vectors-negative300.bin.gz
ML/.ipynb_checkpoints/
ML/news_dataset.csv
ML/Body\ Vector.csv
ML/Headline\ Vector.csv
ML/GoogleNews-vectors-negative300.bin
TFServer/model25epo.h5
TFServerEnv/
FakeNewsEnv/
MLServerEnv/
FakeNews/FakeNewsApp/__pycache__/
FakeNews/FakeNewsApp/migrations/
FakeNews/FakeNews/__pycache__/
BC/node_modules/