news_dataset.csv
ML/.ipynb_checkpoints/
ML/GoogleNews-vectors-negative300.bin
TFServer/model25epo.h5
TFServerEnv/
FakeNewsEnv/
FakeNews/FakeNewsApp/__pycache__/
FakeNews/FakeNewsApp/migrations/
FakeNews/FakeNews/__pycache__/
BC/node_modules/